<div class='subtron'>
  <div class='container-narrow'>
    <h1>{{localized.easter_egg.title}}</h1>
  </div>
</div>

<div class="container">
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
  <p id="flash">This function is deprecated, use `process.version` instead.</p>
</div>
